<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Schooling Books N More</h1>

<div id="app">
    <h1>Lessons Booked</h1>

    <li v-for="(lesson, lessonName) in lessons" :key="lessonName">
        <h2>{{ lessonName }}</h2>
        <p>Location: {{ lesson.location }}</p>
        <p>Price: £{{ lesson.price }}</p>
        <p>Space: {{ lesson.space }}</p>

        <ul v-for="Book lessons">
            {{ lesson.price }} - £{{ lessonname }} <button v-on:click="addTo(lessonName)">Add to Basket</button></b>
        </ul>
     
</div>


<script type="module">
    const {createApp} = Vue
    const schoolingBooksApp = createApp({
        data(){
            return{
                lessons: {
                    'Computer Science': {'location': 'Mitcham', 'price': 20, 'space': 5},
                    'Mathematics': { 'location': 'Totteham', 'price': 15, 'space': 5},
                    'English': {'location': 'Wembley', 'price': 10, 'space': 5},
                    'Biology': {'location': 'Croydon', 'price': 25, 'space': 5},
                    'Chemistry': {'location': 'Bromley', 'price': 30, 'space': 5},
                    'Physics': {'location': 'Bexley', 'price': 35, 'space': 5},
                    'Geography': {'location': 'Greenwich', 'price': 40, 'space': 5},
                    'History': {'location': 'Lewisham', 'price': 45, 'space': 5}, 
                    'Art': {'location': 'Southwark', 'price': 50, 'space': 5},
                    'Music': {'location': 'Camberwell Green', 'price': 21, 'space': 5},
                    'Physical Education': {'location': 'Brixton', 'price': 60, 'space': 5},
                    'Drama': {'location': 'Clapham', 'price': 65, 'space': 5},
                    
                },
            }
        }

    });
    schoolingBooksApp.mount('#app');
</script>


</body>
</html>


